@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "witchy";
    src: url(./assets/witchy-mama/witchy.otf) format("otf");
  }
  @font-face {
    font-family: "caveat";
    src: url(./assets/Caveat/static/Caveat-Regular.ttf) format("ttf");
  }
}
